doctype html
html
  head
    title flight
    link(rel="stylesheet", href="style.css")
    script(type="text/javascript", src="bower_components/requirejs/require.js", data-main="app")
  body
    h1 flight
    div First
    div Second
    div Third
